
<div class="container">
    <form (ngSubmit)="onSubmit(resetpwdForm)" #resetpwdForm="ngForm" style="margin-left: 200px;">
      <div class="form-group" style="margin-top: 20%;" >
        
        <h2>Enter Your Email</h2><br><br>
        <img src="../assets/images/trainicon.png" style="width: 100px; height: 100px; margin-left: 10%; margin-bottom: 40px;"><br>
        <label class="h4 form-control-label" for="input1">Email<abbr class="text-danger" title="This is required">*</abbr></label>
        <input type="text" style="width:40%;margin-bottom: 5%;" class="form-control" id="Uname" (ngModel)="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email"  required>
        
      </div>
      
      
      <button  [disabled]="!resetpwdForm.valid" type="submit" class="btn btn-primary btn-lg" style= "margin-top: 5%; margin-bottom: 20%;" >Send Verification Code</button>
      <button type="button" class="btn btn-primary" style="margin-top: 5%; margin-left: 20px; margin-bottom: 20%;" routerLink="/login">Back to Login</button>
    </form>
    </div>

      
    
    <router-outlet></router-outlet>